body,html{
	margin:0;
	padding:0;
}
footer{
	
	position:absolute;
	bottom:0;
	min-height:30%;
}
.footer-address{
	/*background-color:#292c2f;*/
	background: -webkit-linear-gradient(left, #99f, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #99f , black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #99f , black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black, #99f , black); /* Standard syntax (must be last) */
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
	box-sizing:border-box;
	width:100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}
.footer-address .footer-left,
.footer-address .footer-center,
.footer-address .footer-right
{
	display: inline-block;
	vertical-align:top;
	
}
/*left Footer*/
.footer-address .footer-left{
	width:40%;
}
/*company logo*/
.footer-address h3{
	color:#ffffff;
	font:normal 36px 'Cookie', cursive;
	margin:0;
}
.footer-address h3 span{
	color:#5383d3;
}
/*Links footer*/
.footer-address .footer-links{
	color: #ffffff;
	margin:20px 0 12px;
	padding: 0;
}
.footer-address .footer-links a{
	display:inline-block;
	line-height:1.8;
	text-decoration:none;
	color:inherit;
}
.footer-address .footer-company-name{
	color:#8f9296;
	font-size: 14px;
	font-weight:normal;
	margin:0;
}
/*Footer Center*/
.footer-address .footer-center{
	width:35%;
}
.footer-address .footer-center i{
	background-color:#33383b;
	color:#ffffff;
	font-size: 25px;
	width:38px;
	height:38px;
	border-radius:50%;
	text-align:center;
	line-height:42px;
	margin: 10px 15px;
	vertical-align:middle;
}
.footer-address .footer-center i.fa-envelope{
	font-size:17px;
	line-height:38px;
} 
.footer-address .footer-center p{
	display:inline-block;
	color:#ffffff;
	vertical-align:middle;
	margin:0;
}
.footer-address .footer-center p span{
	display:block;
	font-weight:normal;
	font-size:14px;
	line-height:2;
}
.footer-address .footer-center p a{
	color:#5383d3;
	text-decoration:none;
}

/*right footer*/
.footer-address .footer-right{
	width:20%;
}
.footer-address .footer-company-about{
	line-height:20px;
	color:#92999f;
	font-size:13px;
	font-weight:normal;
	margin:0;
}
.footer-address .footer-company-about span{
	display:block;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
}
.footer-address .footer-icons{
	margin-top:25px;
}
.footer-address .footer-icons a{
	display:inline-block;
	width:35px;
	height:35px;
	cursor:pointer;
	background-color: #33383b;
	border-radius:2px;
	font-size:20px;
	color:#ffffff;
	text-align:center;
	line-height:35px;
	margin-right: 3px;
	margin-bottom:5px;
}
@media screen and (max-width: 880px){
	.footer-address{
		font:bold 14px sans-serif;
	}
	.footer-address .footer-left,
	.footer-address .footer-center,
	.footer-address .footer-right{
		display:block;
		width:100%;
		margin-bottom:40px;
		text-align:center;
	}
	.footer-address .footer-center i{
		margin-left:0;
	}
}